@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* https://realtimecolors.com/?colors=180f02-fefbf5-4587f2-e3bcfa-0f5ddb */
:root {
  --text: #180f02;
  --background: #fefbf5;
  --primary: #4587f2;
  --secondary: #e3bcfa;
  --accent: #0f5ddb;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Ubuntu', sans-serif;
  color: var(--text);
}
