.linkList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  color: var(--accent);
}

.link:hover {
  text-decoration: underline;
}

.eventNav {
  width: 25%;
}
