.eventListWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
  background-color: var(--secondary);
}

.eventList {
  list-style: none;
}

.title {
  /* text-align: center; */
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--accent);
}

.listError {
  text-align: center;
  color: var(--error);
  margin-top: 2rem;
}
