.eventListWrapper {
  width: 100%;
}

.eventList {
  list-style: none;
}

.title {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--accent);
}

.listError {
  text-align: center;
  color: var(--error);
  margin-top: 2rem;
}

.eventHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.eventHeaderItem {
  text-align: center;
  width: 100%;
}
