.button {
  background-color: var(--secondary);
  outline: none;
  border: 1px solid var(--text);
  padding: 0.75em 2em;
  border-radius: 5px;
  color: var(--text);
  font-family: 'Ubuntu', sans-serif;
}

.button:hover {
  cursor: pointer;
  background-color: var(--primary);
}

.button:active {
  background-color: var(--accent);
}

.submitButton {
  margin-top: 1.5rem;
  font-size: 1rem;
  width: 100%;
}
