.form {
  width: 60%;
  max-width: 485px;
  border: 2px solid var(--primary);
  border-radius: 10px;
  margin: 2rem auto 0 auto;
  padding: 1.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form h1 {
  text-align: center;
  width: 100%;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--accent);
  margin-bottom: 0.5rem;
}
