.listItem {
  border-radius: 10px;
  border: 2px solid transparent;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
}

.listItem:nth-of-type(2n) {
  background-color: var(--secondary);
}

.listItem:hover {
  border: 2px solid var(--text);
  cursor: pointer;
  background-color: var(--accent);
  color: var(--background);
}

.eventItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.eventItemData {
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
}

.dropDownData {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  padding: 1rem;
}

.dropDownIcon {
  margin-left: 1rem;
}

.selected {
  background-color: var(--primary);
  /* color: var(--background); */
}
