.indexWrapper {
  margin-top: 3rem;
  text-align: center;
}

.indexWrapper h2 {
  margin-top: 1rem;
}

.linkWrapper {
  margin: 1rem auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  min-width: 375px;
  max-width: 425px;
}

.link {
  text-decoration: none;
  background-color: var(--secondary);
  color: var(--text);
  border-radius: 10px;
  padding: 1em 1.5em;
  width: 15%;
  min-width: 7rem;
  max-width: 8rem;
  transition: background-color 0.2s ease-in-out, color 0.1s ease-in-out;
}

.link:hover {
  color: var(--background);
  background-color: var(--primary);
}

.link:active {
  background-color: var(--accent);
}
